@media (max-width: 320px) {

    body {
        font-size: 12px;
    }

    header {
        flex-direction: column;
    }

    main {
        display: block;
    }

    nav button {
        display: block;
        background: none;
        border: none;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        margin: 0 auto;
    }

    nav ul {
        display: none;
        list-style: none;
        padding: 0px;
        text-align: center;
        gap: 0;
    }

    nav.show ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 15px;
    }

    .card p {
        margin: 0px;
    }

    .content-grid {
        grid-template-columns: 1fr;
    }
    .content-grid h2{
        font-size: 16px;
    }
    .content-grid p{
        font-size: 14px;
    }
    .events,
    .weather,
    .forecast {
        height: auto;
    }

    .spotlight-card {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
    }

    footer{
        font-size: 8px;
    }

    footer .information {
        margin-left: 0px;
    }
    footer .personal {
        margin-right: 0px;
    
    }

    .social img {
        width: 20px;
        height: 20px;
    }
    .membershipApp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 25px;
    
    }

    .designOne {
        margin-left: 20px;
        margin-right: 20px;

    }

    .discover img.card-image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        grid-column: 1;
        border-radius: 8px;
    }
    
    /* Efecto hover: aumenta el tamaño de la imagen y oscurece */
    .discover img.card-image:hover {
        transform: scale(1); 
        filter: brightness(1); /* Oscurece la imagen */
    }
}
